:root{
    --base-color: #450920;
    --text-color: #A53860;
    --glow-color:  #FFA5AB;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.5s linear;
}


body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--base-color);
}

.WaterMark1{
    position: absolute;
    color:var(--text-color);
    padding-top: 50%;
    text-align: center;
}

h2{
    position: relative;
    font-size: 4em;
    letter-spacing: 15px;
    color: var(--text-color);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
    line-height: 0.70em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
        color: var(--text-color);
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
        color: #fff;
        text-shadow: 0 0 10px var(--glow-color),
        0 0 20px var(--glow-color),
        0 0 40px var(--glow-color),
        0 0 80px var(--glow-color),
        0 0 160px var(--glow-color);
    }
}
